@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700&display=swap');

/*
these are just comments they will not affect the site
  1. Background color of the body should be tan
  2. Color of the test should be green
  3. All heading (h1, h2, h3...) should have a fpnt family of cursive
  4. all other text (not headings) should ahve a font-family of seroif
*/
/*
add 2 classes to the html
  - include stles od our choise
add 1 id to the html
*/


body {
    background-color: tan;
    color: green;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: darkgreen;
}

p{
  font-family: 'Raleway', sans-serif;
}

.big{
  color: pink;
  font-style: italic;
  font-size: 100px;
}
.why{
color: purple;
}

#carrot{
  color: blue;
  font-style: italic;
}
